delorean/src/main/resources/a5_1_e/extensions/EUR/XSNOWTAM/Contamination_Features.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Generated automatically by Rational Rose 2006.0.0.060314 -->
<!-- Date:      03-25-2011  11:00:01 -->
<!-- Model:     H:\Work\DataModels\AIXM\5.1.x\uml\working_version\AIXM-5-1-WorkingModel.mdl -->
<!-- Component: Logical View::AIXM Application Schemas::EUR Digital SNOWTAM -->
<!-- Version:  -->
<!-- XML-Schema level supported is specified by W3C -->
<!-- 	http://www.w3.org/2001/XMLSchema/ -->
<schema xmlns:con="http://www.eurocontrol.int/contamination" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:aixm="http://www.aixm.aero/schema/5.1" targetNamespace="http://www.eurocontrol.int/contamination" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import namespace="http://www.aixm.aero/schema/5.1" schemaLocation="../../../AIXM_Features.xsd"/>
	<include schemaLocation="Contamination_Data_Types.xsd"/>
	<annotation>
		<appinfo>
			<gml:gmlProfileSchema>http://www.aixm.aero/schema/5.0/profile/gml4aixm.xsd</gml:gmlProfileSchema>
		</appinfo>
	</annotation>
	<annotation>
		<appinfo source="www.aixm.aero/schema/5.0">AIXM_Features.xsd</appinfo>
	</annotation>
	<element name="AirportHeliportAvailabilityExtension" type="con:AirportHeliportAvailabilityExtensionType" substitutionGroup="aixm:AbstractAirportHeliportAvailabilityExtension"/>
	<complexType name="AirportHeliportAvailabilityExtensionType">
		<complexContent>
			<extension base="aixm:AbstractExtensionType">
				<sequence>
					<group ref="con:AirportHeliportAvailabilityExtensionPropertyGroup"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<group name="AirportHeliportAvailabilityExtensionPropertyGroup">
		<sequence>
			<element name="contaminationState" type="con:CodeContaminationStateType" nillable="true" minOccurs="0">
				<annotation>
					<appinfo>
						<gml:description>Availability of the AirportHeliport based on a derived colour. The colour is derived from the SNOWTAM message.</gml:description>
					</appinfo>
				</annotation>
			</element>
		</sequence>
	</group>
</schema>
