delorean/src/main/resources/a5_1_e/extensions/EUR/EAD/Audit/EAD_Audit_R12.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:audit="http://www.aixm.aero/schema/5.1/extensions/audit"
		xmlns:event="http://www.aixm.aero/schema/5.1/event"
		xmlns="http://www.w3.org/2001/XMLSchema" xmlns:aixm="http://www.aixm.aero/schema/5.1" targetNamespace="http://www.aixm.aero/schema/5.1/extensions/audit" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.1">
	<import namespace="http://www.w3.org/1999/xlink" schemaLocation="../../../../xlink/xlinks.xsd"/>

	<import namespace="http://www.aixm.aero/schema/5.1" schemaLocation="../../../../AIXM_Features.xsd"/>
	<import namespace="http://www.aixm.aero/schema/5.1/event" schemaLocation="../../../../event/Event_Features.xsd"/>

	<element name="RunwayProtectAreaAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractRunwayProtectAreaExtension"/>
	<element name="RunwayDirectionAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractRunwayDirectionExtension"/>
	<element name="RunwayCentrelinePointAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractRunwayCentrelinePointExtension"/>
	<element name="RunwayAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractRunwayExtension"/>
	<element name="ArrestingGearAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractArrestingGearExtension"/>
	<element name="RunwayElementAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractRunwayElementExtension"/>
	<element name="VisualGlideSlopeIndicatorAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractVisualGlideSlopeIndicatorExtension"/>
	<element name="RunwayVisualRangeAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractRunwayVisualRangeExtension"/>
	<element name="RunwayBlastPadAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractRunwayBlastPadExtension"/>
	<element name="NavaidEquipmentDistanceAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractNavaidEquipmentDistanceExtension"/>
	<element name="RunwayDeclaredDistanceAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractRunwayDeclaredDistanceExtension"/>
	<element name="RunwayDeclaredDistanceValueAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractRunwayDeclaredDistanceValueExtension"/>
	<element name="ManoeuvringAreaAvailabilityAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractManoeuvringAreaAvailabilityExtension"/>
	<element name="ManoeuvringAreaUsageAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractManoeuvringAreaUsageExtension"/>
	<element name="TaxiHoldingPositionAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractTaxiHoldingPositionExtension"/>
	<element name="TaxiwayAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractTaxiwayExtension"/>
	<element name="TaxiwayElementAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractTaxiwayElementExtension"/>
	<element name="GuidanceLineAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractGuidanceLineExtension"/>
	<element name="ApronAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractApronExtension"/>
	<element name="ApronElementAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractApronElementExtension"/>
	<element name="AircraftStandAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractAircraftStandExtension"/>
	<element name="RoadAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractRoadExtension"/>
	<element name="ApronAreaAvailabilityAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractApronAreaAvailabilityExtension"/>
	<element name="ApronAreaUsageAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractApronAreaUsageExtension"/>
	<element name="DeicingAreaAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractDeicingAreaExtension"/>
	<element name="PassengerLoadingBridgeAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractPassengerLoadingBridgeExtension"/>
	<element name="TouchDownLiftOffSafeAreaAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractTouchDownLiftOffSafeAreaExtension"/>
	<element name="TouchDownLiftOffAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractTouchDownLiftOffExtension"/>
	<element name="GroundLightSystemAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractGroundLightSystemExtension"/>
	<element name="ApronLightSystemAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractApronLightSystemExtension"/>
	<element name="TaxiwayLightSystemAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractTaxiwayLightSystemExtension"/>
	<element name="RunwayDirectionLightSystemAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractRunwayDirectionLightSystemExtension"/>
	<element name="TouchDownLiftOffLightSystemAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractTouchDownLiftOffLightSystemExtension"/>
	<element name="GuidanceLineLightSystemAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractGuidanceLineLightSystemExtension"/>
	<element name="RunwayProtectAreaLightSystemAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractRunwayProtectAreaLightSystemExtension"/>
	<element name="TaxiHoldingPositionLightSystemAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractTaxiHoldingPositionLightSystemExtension"/>
	<element name="LightActivationAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractLightActivationExtension"/>
	<element name="GroundLightingAvailabilityAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractGroundLightingAvailabilityExtension"/>
	<element name="ApproachLightingSystemAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractApproachLightingSystemExtension"/>
	<element name="MarkingAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractMarkingExtension"/>
	<element name="MarkingElementAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractMarkingElementExtension"/>
	<element name="TaxiwayMarkingAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractTaxiwayMarkingExtension"/>
	<element name="ApronMarkingAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractApronMarkingExtension"/>
	<element name="AirportProtectionAreaMarkingAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractAirportProtectionAreaMarkingExtension"/>
	<element name="TouchDownLiftOffMarkingAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractTouchDownLiftOffMarkingExtension"/>
	<element name="RunwayMarkingAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractRunwayMarkingExtension"/>
	<element name="GuidanceLineMarkingAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractGuidanceLineMarkingExtension"/>
	<element name="DeicingAreaMarkingAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractDeicingAreaMarkingExtension"/>
	<element name="TaxiHoldingPositionMarkingAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractTaxiHoldingPositionMarkingExtension"/>
	<element name="StandMarkingAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractStandMarkingExtension"/>
	<element name="SurfaceContaminationAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractSurfaceContaminationExtension"/>
	<element name="RidgeAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractRidgeExtension"/>
	<element name="RunwayContaminationAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractRunwayContaminationExtension"/>
	<element name="TaxiwayContaminationAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractTaxiwayContaminationExtension"/>
	<element name="SurfaceContaminationLayerAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractSurfaceContaminationLayerExtension"/>
	<element name="RunwaySectionContaminationAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractRunwaySectionContaminationExtension"/>
	<element name="TouchDownLiftOffContaminationAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractTouchDownLiftOffContaminationExtension"/>
	<element name="ApronContaminationAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractApronContaminationExtension"/>
	<element name="AircraftStandContaminationAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractAircraftStandContaminationExtension"/>
	<element name="AirportHeliportContaminationAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractAirportHeliportContaminationExtension"/>
	<element name="FloatingDockSiteAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractFloatingDockSiteExtension"/>
	<element name="MarkingBuoyAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractMarkingBuoyExtension"/>
	<element name="SeaplaneLandingAreaAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractSeaplaneLandingAreaExtension"/>
	<element name="SeaplaneRampSiteAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractSeaplaneRampSiteExtension"/>
	<element name="WorkAreaAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractWorkAreaExtension"/>
	<element name="SurveyControlPointAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractSurveyControlPointExtension"/>
	<element name="SurfaceCharacteristicsAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractSurfaceCharacteristicsExtension"/>
	<element name="NonMovementAreaAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractNonMovementAreaExtension"/>
	<element name="CityAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractCityExtension"/>
	<element name="UsageConditionAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractUsageConditionExtension"/>
	<element name="AirportHeliportProtectionAreaAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractAirportHeliportProtectionAreaExtension"/>
	<element name="AirportHeliportCollocationAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractAirportHeliportCollocationExtension"/>
	<element name="AirportHeliportAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractAirportHeliportExtension"/>
	<element name="AltimeterSourceAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractAltimeterSourceExtension"/>
	<element name="AirportHeliportResponsibilityOrganisationAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractAirportHeliportResponsibilityOrganisationExtension"/>
	<element name="AirportHotSpotAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractAirportHotSpotExtension"/>
	<element name="AltimeterSourceStatusAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractAltimeterSourceStatusExtension"/>
	<element name="WorkareaActivityAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractWorkareaActivityExtension"/>
	<element name="ConditionCombinationAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractConditionCombinationExtension"/>
	<element name="AirportHeliportAvailabilityAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractAirportHeliportAvailabilityExtension"/>
	<element name="AirportHeliportUsageAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractAirportHeliportUsageExtension"/>
	<element name="AuthorityForAirspaceAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractAuthorityForAirspaceExtension"/>
	<element name="AirspaceAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractAirspaceExtension"/>
	<element name="AirspaceGeometryComponentAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractAirspaceGeometryComponentExtension"/>
	<element name="AirspaceVolumeAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractAirspaceVolumeExtension"/>
	<element name="AirspaceActivationAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractAirspaceActivationExtension"/>
	<element name="AirspaceLayerClassAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractAirspaceLayerClassExtension"/>
	<element name="GeoBorderAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractGeoBorderExtension"/>
	<element name="AirspaceVolumeDependencyAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractAirspaceVolumeDependencyExtension"/>
	<element name="ElevatedCurveAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractElevatedCurveExtension"/>
	<element name="ElevatedPointAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractElevatedPointExtension"/>
	<element name="ElevatedSurfaceAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractElevatedSurfaceExtension"/>
	<element name="PrecisionApproachRadarAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractPrecisionApproachRadarExtension"/>
	<element name="PrimarySurveillanceRadarAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractPrimarySurveillanceRadarExtension"/>
	<element name="RadarComponentAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractRadarComponentExtension"/>
	<element name="RadarEquipmentAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractRadarEquipmentExtension"/>
	<element name="RadarSystemAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractRadarSystemExtension"/>
	<element name="ReflectorAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractReflectorExtension"/>
	<element name="SecondarySurveillanceRadarAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractSecondarySurveillanceRadarExtension"/>
	<element name="SurveillanceRadarAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractSurveillanceRadarExtension"/>
	<element name="SurveillanceGroundStationAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractSurveillanceGroundStationExtension"/>
	<element name="ObstacleAssessmentAreaAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractObstacleAssessmentAreaExtension"/>
	<element name="ObstructionAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractObstructionExtension"/>
	<element name="AltitudeAdjustmentAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractAltitudeAdjustmentExtension"/>
	<element name="HoldingAssessmentAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractHoldingAssessmentExtension"/>
	<element name="ObstaclePlacementAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractObstaclePlacementExtension"/>
	<element name="StandardLevelTableAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractStandardLevelTableExtension"/>
	<element name="StandardLevelSectorAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractStandardLevelSectorExtension"/>
	<element name="StandardLevelColumnAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractStandardLevelColumnExtension"/>
	<element name="StandardLevelAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractStandardLevelExtension"/>
	<element name="RadioFrequencyAreaAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractRadioFrequencyAreaExtension"/>
	<element name="ContactInformationAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractContactInformationExtension"/>
	<element name="OnlineContactAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractOnlineContactExtension"/>
	<element name="PostalAddressAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractPostalAddressExtension"/>
	<element name="TelephoneContactAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractTelephoneContactExtension"/>
	<element name="AircraftCharacteristicAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractAircraftCharacteristicExtension"/>
	<element name="FlightCharacteristicAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractFlightCharacteristicExtension"/>
	<element name="LightElementAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractLightElementExtension"/>
	<element name="LightElementStatusAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractLightElementStatusExtension"/>
	<element name="AirspaceLayerAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractAirspaceLayerExtension"/>
	<element name="CircleSectorAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractCircleSectorExtension"/>
	<element name="TimesheetAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractTimesheetExtension"/>
	<element name="PropertiesWithScheduleAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractPropertiesWithScheduleExtension"/>
	<element name="SpecialDateAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractSpecialDateExtension"/>
	<element name="MeteorologyAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractMeteorologyExtension"/>
	<element name="ServiceAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractServiceExtension"/>
	<element name="RadioCommunicationChannelAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractRadioCommunicationChannelExtension"/>
	<element name="CallsignDetailAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractCallsignDetailExtension"/>
	<element name="PilotControlledLightingAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractPilotControlledLightingExtension"/>
	<element name="InformationServiceAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractInformationServiceExtension"/>
	<element name="TrafficSeparationServiceAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractTrafficSeparationServiceExtension"/>
	<element name="GroundTrafficControlServiceAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractGroundTrafficControlServiceExtension"/>
	<element name="AirTrafficControlServiceAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractAirTrafficControlServiceExtension"/>
	<element name="AirTrafficManagementServiceAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractAirTrafficManagementServiceExtension"/>
	<element name="SearchRescueServiceAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractSearchRescueServiceExtension"/>
	<element name="AirportGroundServiceAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractAirportGroundServiceExtension"/>
	<element name="PassengerServiceAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractPassengerServiceExtension"/>
	<element name="AircraftGroundServiceAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractAircraftGroundServiceExtension"/>
	<element name="FireFightingServiceAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractFireFightingServiceExtension"/>
	<element name="AirportClearanceServiceAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractAirportClearanceServiceExtension"/>
	<element name="AirportSuppliesServiceAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractAirportSuppliesServiceExtension"/>
	<element name="FuelAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractFuelExtension"/>
	<element name="NitrogenAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractNitrogenExtension"/>
	<element name="OilAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractOilExtension"/>
	<element name="OxygenAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractOxygenExtension"/>
	<element name="ServiceOperationalStatusAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractServiceOperationalStatusExtension"/>
	<element name="RadioCommunicationOperationalStatusAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractRadioCommunicationOperationalStatusExtension"/>
	<element name="PointReferenceAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractPointReferenceExtension"/>
	<element name="SegmentPointAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractSegmentPointExtension"/>
	<element name="TerminalSegmentPointAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractTerminalSegmentPointExtension"/>
	<element name="EnRouteSegmentPointAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractEnRouteSegmentPointExtension"/>
	<element name="AngleIndicationAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractAngleIndicationExtension"/>
	<element name="DistanceIndicationAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractDistanceIndicationExtension"/>
	<element name="AngleUseAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractAngleUseExtension"/>
	<element name="AuthorityForNavaidEquipmentAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractAuthorityForNavaidEquipmentExtension"/>
	<element name="AuthorityForSpecialNavigationStationAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractAuthorityForSpecialNavigationStationExtension"/>
	<element name="AzimuthAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractAzimuthExtension"/>
	<element name="CheckpointINSAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractCheckpointINSExtension"/>
	<element name="CheckpointVORAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractCheckpointVORExtension"/>
	<element name="AuthorityForSpecialNavigationSystemAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractAuthorityForSpecialNavigationSystemExtension"/>
	<element name="DMEAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractDMEExtension"/>
	<element name="ElevationAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractElevationExtension"/>
	<element name="GlidepathAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractGlidepathExtension"/>
	<element name="LocalizerAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractLocalizerExtension"/>
	<element name="MarkerBeaconAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractMarkerBeaconExtension"/>
	<element name="NavaidAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractNavaidExtension"/>
	<element name="NavaidComponentAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractNavaidComponentExtension"/>
	<element name="NavaidEquipmentAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractNavaidEquipmentExtension"/>
	<element name="NavigationSystemCheckpointAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractNavigationSystemCheckpointExtension"/>
	<element name="SDFAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractSDFExtension"/>
	<element name="NDBAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractNDBExtension"/>
	<element name="SpecialNavigationStationAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractSpecialNavigationStationExtension"/>
	<element name="VORAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractVORExtension"/>
	<element name="TACANAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractTACANExtension"/>
	<element name="SpecialNavigationSystemAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractSpecialNavigationSystemExtension"/>
	<element name="NavaidOperationalStatusAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractNavaidOperationalStatusExtension"/>
	<element name="NavaidEquipmentMonitoringAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractNavaidEquipmentMonitoringExtension"/>
	<element name="SpecialNavigationStationStatusAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractSpecialNavigationStationStatusExtension"/>
	<element name="DirectionFinderAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractDirectionFinderExtension"/>
	<element name="DesignatedPointAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractDesignatedPointExtension"/>
	<element name="SignificantPointInAirspaceAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractSignificantPointInAirspaceExtension"/>
	<element name="AeronauticalGroundLightAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractAeronauticalGroundLightExtension"/>
	<element name="NoteAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractNoteExtension"/>
	<element name="LinguisticNoteAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractLinguisticNoteExtension"/>
	<element name="OrganisationAuthorityAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractOrganisationAuthorityExtension"/>
	<element name="OrganisationAuthorityAssociationAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractOrganisationAuthorityAssociationExtension"/>
	<element name="UnitAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractUnitExtension"/>
	<element name="UnitDependencyAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractUnitDependencyExtension"/>
	<element name="UnitAvailabilityAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractUnitAvailabilityExtension"/>
	<element name="VerticalStructurePartAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractVerticalStructurePartExtension"/>
	<element name="ObstacleAreaAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractObstacleAreaExtension"/>
	<element name="VerticalStructureAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractVerticalStructureExtension"/>
	<element name="VerticalStructureLightingStatusAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractVerticalStructureLightingStatusExtension"/>
	<element name="CirclingRestrictionAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractCirclingRestrictionExtension"/>
	<element name="CirclingAreaAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractCirclingAreaExtension"/>
	<element name="MinimaAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractMinimaExtension"/>
	<element name="EquipmentUnavailableAdjustmentAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractEquipmentUnavailableAdjustmentExtension"/>
	<element name="EquipmentUnavailableAdjustmentColumnAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractEquipmentUnavailableAdjustmentColumnExtension"/>
	<element name="TerminalArrivalAreaSectorAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractTerminalArrivalAreaSectorExtension"/>
	<element name="TerminalArrivalAreaAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractTerminalArrivalAreaExtension"/>
	<element name="FASDataBlockAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractFASDataBlockExtension"/>
	<element name="ApproachAltitudeTableAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractApproachAltitudeTableExtension"/>
	<element name="ApproachDistanceTableAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractApproachDistanceTableExtension"/>
	<element name="ApproachTimingTableAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractApproachTimingTableExtension"/>
	<element name="FinalProfileAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractFinalProfileExtension"/>
	<element name="InstrumentApproachProcedureAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractInstrumentApproachProcedureExtension"/>
	<element name="MissedApproachGroupAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractMissedApproachGroupExtension"/>
	<element name="ApproachConditionAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractApproachConditionExtension"/>
	<element name="StandardInstrumentDepartureAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractStandardInstrumentDepartureExtension"/>
	<element name="NavigationAreaAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractNavigationAreaExtension"/>
	<element name="NavigationAreaSectorAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractNavigationAreaSectorExtension"/>
	<element name="DepartureArrivalConditionAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractDepartureArrivalConditionExtension"/>
	<element name="SectorDesignAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractSectorDesignExtension"/>
	<element name="StandardInstrumentArrivalAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractStandardInstrumentArrivalExtension"/>
	<element name="ProcedureAvailabilityAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractProcedureAvailabilityExtension"/>
	<element name="ProcedureAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractProcedureExtension"/>
	<element name="NavigationAreaRestrictionAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractNavigationAreaRestrictionExtension"/>
	<element name="SegmentLegAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractSegmentLegExtension"/>
	<element name="ProcedureTransitionAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractProcedureTransitionExtension"/>
	<element name="HoldingUseAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractHoldingUseExtension"/>
	<element name="ApproachLegAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractApproachLegExtension"/>
	<element name="ArrivalFeederLegAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractArrivalFeederLegExtension"/>
	<element name="ArrivalLegAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractArrivalLegExtension"/>
	<element name="DepartureLegAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractDepartureLegExtension"/>
	<element name="FinalLegAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractFinalLegExtension"/>
	<element name="InitialLegAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractInitialLegExtension"/>
	<element name="IntermediateLegAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractIntermediateLegExtension"/>
	<element name="MissedApproachLegAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractMissedApproachLegExtension"/>
	<element name="ProcedureTransitionLegAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractProcedureTransitionLegExtension"/>
	<element name="LandingTakeoffAreaCollectionAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractLandingTakeoffAreaCollectionExtension"/>
	<element name="ProcedureDMEAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractProcedureDMEExtension"/>
	<element name="SafeAltitudeAreaAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractSafeAltitudeAreaExtension"/>
	<element name="SafeAltitudeAreaSectorAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractSafeAltitudeAreaSectorExtension"/>
	<element name="HoldingPatternAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractHoldingPatternExtension"/>
	<element name="UnplannedHoldingAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractUnplannedHoldingExtension"/>
	<element name="HoldingPatternDurationAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractHoldingPatternDurationExtension"/>
	<element name="HoldingPatternDistanceAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractHoldingPatternDistanceExtension"/>
	<element name="AirspaceBorderCrossingAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractAirspaceBorderCrossingExtension"/>
	<element name="DirectFlightAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractDirectFlightExtension"/>
	<element name="DirectFlightClassAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractDirectFlightClassExtension"/>
	<element name="DirectFlightSegmentAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractDirectFlightSegmentExtension"/>
	<element name="FlightConditionCombinationAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractFlightConditionCombinationExtension"/>
	<element name="FlightConditionCircumstanceAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractFlightConditionCircumstanceExtension"/>
	<element name="FlightRestrictionLevelAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractFlightRestrictionLevelExtension"/>
	<element name="FlightRestrictionAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractFlightRestrictionExtension"/>
	<element name="FlightRestrictionRouteAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractFlightRestrictionRouteExtension"/>
	<element name="FlightRoutingElementAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractFlightRoutingElementExtension"/>
	<element name="FlightConditionElementAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractFlightConditionElementExtension"/>
	<element name="RouteSegmentAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractRouteSegmentExtension"/>
	<element name="RouteAvailabilityAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractRouteAvailabilityExtension"/>
	<element name="RoutePortionAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractRoutePortionExtension"/>
	<element name="RouteDMEAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractRouteDMEExtension"/>
	<element name="RouteAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractRouteExtension"/>
	<element name="ChangeOverPointAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractChangeOverPointExtension"/>
	<element name="AerialRefuellingAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractAerialRefuellingExtension"/>
	<element name="AerialRefuellingPointAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractAerialRefuellingPointExtension"/>
	<element name="AerialRefuellingAnchorAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractAerialRefuellingAnchorExtension"/>
	<element name="AerialRefuellingTrackAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractAerialRefuellingTrackExtension"/>
	<element name="AuthorityForAerialRefuellingAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractAuthorityForAerialRefuellingExtension"/>
	<element name="RulesProceduresAuditExtension" type="audit:AuditExtensionType" substitutionGroup="aixm:AbstractRulesProceduresExtension"/>

	<element name="EventAuditExtension" type="audit:AuditExtensionType" substitutionGroup="event:AbstractEventExtension"/>

	<complexType name="AuditExtensionType">
		<complexContent>
			<extension base="aixm:AbstractExtensionType">
				<sequence>
					<group ref="audit:AuditPropertyGroup"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<group name="AuditPropertyGroup">
		<sequence>
			<element name="createdBy" type="aixm:Character2Type" minOccurs="0"/>
			<element name="creationDate" type="aixm:DateTimeBaseType" minOccurs="0"/>
			<element name="createdByOrg" type="aixm:Character2Type" minOccurs="0"/>
			<element name="createdOnBehalfOfUser" type="aixm:Character2Type" minOccurs="0"/>
			<element name="createdOnBehalfOfOrg" type="aixm:Character2Type" minOccurs="0"/>
		</sequence>
	</group>
</schema>
