delorean/src/main/resources/a5_0/message/AIXM_BasicMessage.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Generated automatically by Rational Rose 2006.0.0.060314 -->
<!-- Date:      04-02-2008  14:16:43 -->
<!-- Model:     UML\AIXM-5-0-200803061118.mdl -->
<!-- Component: Logical View::AIXM Application Schemas::Basic Message::Basic Message Features -->
<!-- Version:  -->
<!-- XML-Schema level supported is specified by W3C -->
<!-- 	http://www.w3.org/2001/XMLSchema/ -->
<schema xmlns:message="http://www.aixm.aero/schema/5.0/message" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:aixm="http://www.aixm.aero/schema/5.0" xmlns:fua="http://www.aixm.aero/schema/5.0/extensions/eur/fua" targetNamespace="http://www.aixm.aero/schema/5.0/message" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.0">
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../ISO_19136_Schemas/gml.xsd"/>
	<import namespace="http://www.aixm.aero/schema/5.0" schemaLocation="../AIXM_Features.xsd"/>
	<import namespace="http://www.w3.org/1999/xlink" schemaLocation="../xlink/xlinks.xsd"/>
	<import namespace="http://www.aixm.aero/schema/5.0/extensions/eur/fua" schemaLocation="../extensions/eur/fua/FUA_Features.xsd"/>
	<annotation>
		<appinfo source="urn:eurocontrol:specification:aixm:schema:xsd:AIXM_BasicMessage.xsd:">AIXM_BasicMessage.xsd</appinfo>
		<documentation>Definition of classes that are specific to a Basic Message.</documentation>
	</annotation>
	<group name="AIXMBasicMessagePropertyGroup">
		<sequence>
			<element name="hasMember" type="message:BasicMessageMemberAIXMPropertyType" maxOccurs="unbounded"/>
		</sequence>
	</group>
	<complexType name="AIXMBasicMessageType">
		<complexContent>
			<extension base="aixm:AbstractAIXMMessageType">
				<sequence>
					<group ref="message:AIXMBasicMessagePropertyGroup"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="AIXMBasicMessage" type="message:AIXMBasicMessageType" substitutionGroup="gml:AbstractFeature"/>
	<complexType name="BasicMessageMemberAIXMPropertyType">
		<complexContent>
			<extension base="gml:AbstractFeatureMemberType">
				<choice>
					<element ref="aixm:AbstractAIXMFeature"/>
				</choice>
				<attributeGroup ref="gml:AssociationAttributeGroup"/>
			</extension>
		</complexContent>
	</complexType>
</schema>
